<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.nodes.nstack.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="dk.nodes.nstack.appId"
            android:value="${appId}"
            tools:replace="android:value" />
        <meta-data
            android:name="dk.nodes.nstack.apiKey"
            android:value="${apiKey}"
            tools:replace="android:value" />

        <meta-data
            android:name="dk.nodes.nstack.env"
            android:value="${env}"
            tools:replace="android:value" />

        <meta-data
            android:name="dk.nodes.nstack.Translation"
            android:value="dk.nodes.nstack.demo.Translation"
            tools:replace="android:value" />

        <meta-data
            android:name="dk.nodes.nstack.AutoInitEnabled"
            android:value="${AutoInitEnabled}"
            tools:replace="android:value" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>