<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.nodes.nstack">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-date
            android:name="dk.nodes.nstack.appId"
            android:value="${appId}" />
        <meta-date
            android:name="dk.nodes.nstack.apiKey"
            android:value="${apiKey}" />
        <meta-data
            android:name="dk.nodes.nstack.env"
            android:value="${env}"/>
    </application>
</manifest>